.categoria{
                width: 20%;
                height: 550px;
                background-color: skyblue;
                margin:20px 20px 20px 20px ;
                float: left;
                border:4px inset blue;
                text-align:left;
                font-family: cursive;
                font-style: italic;
                font-size: 20px;
                
}
